.wrapper{
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 90vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    gap: 10px;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .subtitle{
    color:var(--btn)
  }
  
  .title{
    font-size: 54px;
    font-weight: 700;
    color: var(--btn);
  }
  
  .desc{
    font-size: 20px;
    font-weight: 400;
  }
  
  .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
  .box h1{
    color: var(--btn);
    font-size: 40px;
    font-weight: 900;
  }
  
  .imgContainer {
    position: relative;
  }
  
  .img{
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .boxes{
      flex-direction: column;
      gap: 50px;
    }
  }