.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: rgb(192, 241, 241);
  border-radius: 5px;
  color: black;
  font-weight: 700;
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.previewContainer {
  position: relative;
  display: inline-block;
}

.preview {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  border-radius: 0;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding: 0 5px;
  line-height: 20px;
}

.removeButton:hover {
  background: rgb(236, 49, 49);
}
