.card-container {
    max-width: 500px;
    margin: auto;
    position: relative;
  }
  
  .card {
    position: relative;
    z-index: 1;
    border-radius: 22px;
    padding: 1rem;
    padding-top: 0; 
    background-color: white;
    background-clip: padding-box; 
    color: black;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
    cursor: pointer;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(135deg, #aec2f8, #baece7 71%, #92c9ed);
    border-radius: 27px; 
    pointer-events: none; 
    transition: opacity 0.3s ease-in-out; 
  }
  
  .card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.05); 
  }
  
  .card:hover::before {
    opacity: 0.9; 
  }
  
  .card img {
    border-radius: 22px;
    height: 250px;
  }
  