.card-container {
    max-width: 500px;
    margin: auto;
    position: relative;
  }
  
  .card {
    position: relative;
    z-index: 1;
    border-radius: 22px;
    padding: 1rem;
    padding-top: 0; /* Adjust padding for the top */
    background-color: white;
    background-clip: padding-box; /* Important for the gradient border */
    color: black;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for transform */
    cursor: pointer;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(135deg, #4dc2cd, #9739a6 71%, #312bdc);
    border-radius: 27px; /* Adjust for the thickness of the border */
    pointer-events: none; /* Allows interaction with the card content */
    transition: opacity 0.3s ease-in-out; /* Add transition for opacity */
  }
  
  .card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.05); /* Add scaling effect on hover */
  }
  
  .card:hover::before {
    opacity: 0.9; /* Slightly change opacity on hover for a subtle effect */
  }
  
  .card img {
    border-radius: 22px;
  }
  