.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 items per row */
    gap: 50px;
    margin-top: 100px;
    padding: 100px;
}
.aviso{
    width: 100%;
    padding-top: 60px;
    min-height: 100vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
@media screen and (max-width: 1368px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* 2 items per row */
    }
    
}
