.container {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.row {
  display: flex;
  gap: 0px;
}

.row h1{
  font-size: 24px;
  font-weight: 300;
}

.col {
  flex: 1;
}

.col  img {
  object-fit: cover;
  border-radius: 50%;
}

.col2 {
  flex: 1;
}

.line{
  margin: 100px;
  color: var(--bgSoft)
}

.aviso{
  width: 100%;
  padding-top: 60px;
  min-height: 100vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}